.inner-footer {
  max-width: 540px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  border: 1px solid #b4babe;
  border-top: none;
  box-sizing: border-box;
  padding-top: 20px;
  height: 140px;
  align-items: flex-start; }

.inner-section {
  height: auto;
  box-sizing: border-box;
  max-width: 540px;
  margin: 0 auto;
  border-left: 1px solid #b4babe;
  border-right: 1px solid #b4babe; }

.load-more {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
  font-weight: 500;
  color: #2f3940;
  background-color: #f6f6f6;
  border: 1px solid #b4babe;
  padding: 10px 14px;
  border-radius: 4px; }
  .load-more:hover {
    background-color: #e8e8e8; }

.disabled {
  color: #9ea9b2; }
  .disabled:hover {
    background-color: #f6f6f6; }
