h1 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
  font-weight: 500;
  font-size: 1em;
  color: #2f3940; }

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
  font-weight: 500;
  font-size: .7em;
  color: #9ea9b2; }

main {
  max-width: 540px;
  background-color: #f6f6f6;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 370px 4px 10px;
  border-left: 1px solid #b4babe;
  border-right: 1px solid #b4babe;
  text-align: center; }

article {
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  margin: 8px auto;
  box-sizing: border-box;
  border: 2px solid #f6f6f6;
  transition: border .2s ease-in-out;
  cursor: pointer;
  max-width: 500px;
  text-align: left; }
  article:hover {
    border: 2px solid rgba(237, 164, 163, 0.8); }

.thumb-container {
  width: 112px;
  height: 80px;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  flex-shrink: 0; }
  .thumb-container img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    transform: translate(-50%, -50%); }

.vid-details {
  padding: 8px 22px; }

.description {
  margin-top: 4px;
  word-wrap: break-word;
  word-break: break-word; }
